.app-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-wrapper__app-title,
.hero-wrapper__app-description {
    color: #293264;
}

.hero-wrapper__app-title {
    font-size: 2rem;
    margin-bottom: 7px;
}

.hero-wrapper__app-description {
    font-size: 1.125rem;
    margin-bottom: 30px;
}

.hero-wrapper__start-btn {
    background-color: #4D5B9E;
    color: white;
    border: 0;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: .5em 1em;
    cursor: pointer;
}